In [25]:
import pandas as pd

#criando dicionario

alunosDIC = {"nome":["VISIONALDENSON","WANDOSVALDO","ADIABELSIO","UBERANTONIO"],
         "nota":[7,5.5,8,6.5],
         "Aprovado":["sim","n達o","sim","sim"]}

In [26]:
#criando dataframe a partir do dicionario
alunosDF = pd.DataFrame(alunosDIC)

In [27]:
print(alunosDF)

             nome  nota Aprovado
0  VISIONALDENSON   7.0      sim
1     WANDOSVALDO   5.5      n達o
2      ADIABELSIO   8.0      sim
3     UBERANTONIO   6.5      sim

In [28]:
alunosDF.head(5)

             nome  nota Aprovado
0  VISIONALDENSON   7.0      sim
1     WANDOSVALDO   5.5      n達o
2      ADIABELSIO   8.0      sim
3     UBERANTONIO   6.5      sim

In [30]:
alunosDF.shape

(4, 3)

In [35]:
alunosDF.describe()

           nota
count  4.000000
mean   6.750000
std    1.040833
min    5.500000
25%    6.250000
50%    6.750000
75%    7.250000
max    8.000000