In [1]:
import pandas as pd

#criando dicionario

alunosDIC = {"nome":["VISIONALDENSON","WANDOSVALDO","ADIABELSIO","UBERANTONIO"],
         "nota":[7,5.5,8,6.5],
         "Aprovado":["sim","não","sim","sim"]}

In [2]:
#criando dataframe a partir do dicionario
alunosDF = pd.DataFrame(alunosDIC)

In [3]:
print(alunosDF)

             nome  nota Aprovado
0  VISIONALDENSON   7.0      sim
1     WANDOSVALDO   5.5      não
2      ADIABELSIO   8.0      sim
3     UBERANTONIO   6.5      sim

In [4]:
alunosDF["nome"]

0    VISIONALDENSON
1       WANDOSVALDO
2        ADIABELSIO
3       UBERANTONIO
Name: nome, dtype: object

In [5]:
alunosDF.loc[[0]]

             nome  nota Aprovado
0  VISIONALDENSON   7.0      sim

In [6]:
alunosDF.loc[0:]

             nome  nota Aprovado
0  VISIONALDENSON   7.0      sim
1     WANDOSVALDO   5.5      não
2      ADIABELSIO   8.0      sim
3     UBERANTONIO   6.5      sim

In [7]:
alunosDF.loc[0:2]

             nome  nota Aprovado
0  VISIONALDENSON   7.0      sim
1     WANDOSVALDO   5.5      não
2      ADIABELSIO   8.0      sim

In [8]:
#coleta a linha que contem a requisição pedida por (alunosDF["nome"]=="ADIABELSIO"), 
#que apenas indica a linha onde está o nome "ADIABELSIO"

alunosDF.loc[alunosDF["nome"]=="ADIABELSIO"]

         nome  nota Aprovado
2  ADIABELSIO   8.0      sim

In [9]:
#coleta a linha que contem a requisição pedida por (alunosDF["Aprovado"]=="sim"), 
#que apenas indica a linha onde está o nome "sim"

alunosDF.loc[alunosDF["Aprovado"]=="sim"]

             nome  nota Aprovado
0  VISIONALDENSON   7.0      sim
2      ADIABELSIO   8.0      sim
3     UBERANTONIO   6.5      sim